.forecastCard {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 0.25rem;
    margin: 0;
}

.col {
    padding: 10px;
    min-width: 170px;
}

@media (max-width: 1288px) {
    .col {
        max-width: 185px;
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .col {
        max-width: 500px;
        padding: 5px;
    }
}